<router-outlet />
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Mi Aplicación Angular (Recuperación :D)</h3>
            <p class="mb-0">Esteban Girón Herrera</p>
            <small>
              Sistema de Gestión - Arquitectura de Sistemas
            </small>
        </div>
        <div class="card-body">
          <p class="card-text">Aplicación desarrollada para el taller de Arquitectura de Sistemas</p>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (submit)="realizoLogin()">
            <div class="form-group">
              <label for="login">Nombre de Usuario:</label>
              <input
                type="email"
                class="form-control"
                formControlName="login"
                placeholder="Ingrese su nombre de usuario"
              />
              @if (login?.invalid && login?.touched) {
              <div>
                <small class="text-danger">
                  El nombre de usuario es obligarorio y debe ser un email</small
                >
              </div>
              }
            </div>
            <div class="form-group">
              <label for="password">Clave de acceso:</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Ingrese su clave de acceso"
              />

              @if (password?.invalid && password?.touched) {
              <div>
                <small class="text-danger"> La clave de acceso es obligatoria</small>
              </div>

              @if (password?.hasError('minlength')) {
              <small class="text-danger">
                La clave de acceso no tienen la longitud mínima</small
              >
              } }
            </div>

            <div class="mt-4">
              <div class="form-group float-end">
                <a href="" class="small"> ¿Olvidaste tu contraseña?</a>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!loginForm.valid"
              >
                Iniciar Sesión
              </button>
              <div class="text-center mt-3">
                <small>© 2026 - Esteban Girón Herrera</small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
